body {
  background-image: url("http://imgur.com/8chkbIF.jpg");
  background-size: cover;
  font-family: 'Roboto', sans-serif;
  color: #FFFFFF;  
}   

#container{
   text-align: center !important;

  
}
.content {
  
  height : 100%;
  font-size: 16pt;
  padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
    display: flex;

  -webkit-flex-direction: column;
   flex-direction: column;
  C;
}


.text-container {
  display: flex;
  justify-content: flex-start;
 
  -webkit-flex-direction: column;
   flex-direction: column;
   vertical-align: middle;
   margin-bottom : 10%;


}

.title-text {
  font-size: 7vw;
  margin : 0;
  margin-top : 5%;
  font-weight: 300;
}

.sub-text {
  font-size: 5vw;
  margin : 0;
  font-weight: 300;
}













.status-box {
  color: #043e5b;
  display: flex;
  justify-content: flex-start;
   align-items: center;
   flex-direction: row;
  -webkit-flex-direction: row;
  justify-content: center;

}


.box {
  margin : 1.5%;
  width: 22%;
  position: relative;
  
}

.chancebox {
  background: #FFF;
  width: 100%;
  padding-bottom: 100%;

 box-shadow: 0px 0px 5px 0px #6C6C6C;

}


.grow-box {
  color : #A2A;
  width: 100%;
  height

  
}


.percent {
  font-size: 7vw;
  margin : 0;
  margin-left: 19%;
  margin-top: 16%;
  position : absolute;
  top : 10%;
  font-weight: 300;
}

.time-title {
  margin : 10;
  font-size: 4.5vw;
  font-weight: 300;
  color : #FFF;
}