body {
  background: #03A9F4;
  font-family: 'Roboto', sans-serif;
  color: #FFFFFF;  
}   

#container{
   width: 100%; 
   margin: 0 auto;
   height: margin: 0 auto;
   text-align: center !important;
   top: 100%;

}
.content {
  font-size: 16pt;
  padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
    display: flex;
justify-content: center;
  -webkit-flex-direction: column;
   flex-direction: column;

}


.text-container {
  display: flex;
  justify-content: flex-start;
 
  -webkit-flex-direction: column;
   flex-direction: column;
   vertical-align: middle;
   margin-bottom : 10%;

}

.status-box {
  display: flex;
  justify-content: flex-start;
   align-items: center;
   flex-direction: row;
  -webkit-flex-direction: row;
  justify-content: center;

}


.box {
  margin : 2%;
  width: 20%;
  position: relative;
  
}

.chancebox {
  background: #000;
  width: 100%;
  padding-bottom: 100%;

 

}


.growbox {
  color : #A2A
  width: 50px;
  height : 50%;
  
}


.percent {
  font-size: 7vw;
  margin : 0;
  position : relative;
  top : 10%;
}

.time-title {
  margin : 10;
}